.grid-container {
  grid-template-rows: auto 1fr;
  display: grid;
  column-gap: 2rem;
}
.code-container {
  background-color: var(--color-paper);
  /* max-height: 14rem; */
  border: 0;
}

.border-rounded {
  border: 0.12rem solid var(--color-gray);
}
.border-bottom {
  border-bottom: 0.12rem solid var(--color-gray);
}
.flex-wrap {
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .btn-toggle {
    display: none;
  }
  .grid-container {
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 1fr;
  }
  .divider-right {
    border-right: 0.15rem solid var(--color-primary);
  }
}
