.grid-container {
  grid-template-rows: auto 1fr;
}
@media screen and (min-width: 768px) {
  .btn-toggle {
    display: none;
  }
  .grid-container {
    grid-template-columns: 18rem 1fr;
    grid-template-rows: 1fr;
  }
  #sidebar-nav {
    display: block;
  }
}
